.module {
    width: 164px;
    height: 40px;
    /* position: relative; */
    margin: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: padding-box;
    position: relative;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background: none;
    border-top: none;
    transition: 0.3s;
  }
  .module__top {
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  .module__top:before {
    border-radius: 3px 0 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: 2px;
    border-top: 2px solid white;
    transition: 0.3s;
  }
  .module__top:after {
    border-radius: 0 3px 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: 1px;
    border-top: 2px solid white;
    transition: 0.3s;
  }
  .top__content {
    overflow: hidden;
    flex: 0 0 70px;
    margin-top: -18px;
    text-align: center;
    transition: 0.3s;
  }
  
  .module__contents {
    color: white;
    font-size: 14px;
    font-family: montserrat;
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }


  /* ON HOVER */
.module:hover {
  border-right: 2px solid #DDBD59;
  border-bottom: 2px solid #DDBD59;
  border-left: 2px solid #DDBD59;
}

.module:hover img {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.module:hover .module__contents {
  color: #DDBD59;
}

.module:hover .module__top:before {
  border-top: 2px solid #DDBD59;
}

.module:hover .module__top:after {
  border-top: 2px solid #DDBD59;
}
