body {
  background: black;
}

.module {
    width: 164px;
    height: 40px;
    /* position: relative; */
    margin: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: padding-box;
    position: relative;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background: none;
    border-top: none;
  }
  .module__top {
    cursor: move;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .module__top:before {
    border-radius: 3px 0 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: 2px;
    border-top: 2px solid white;
  }
  .module__top:after {
    border-radius: 0 3px 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: 1px;
    border-top: 2px solid white;
  }
  .top__content {
    h
    overflow: hidden;
    flex: 0 0 70px;
    margin-top: -18px;
    text-align: center;
  }
  .module__contents {
    color: white;
    font-size: 14px;
    font-family: montserrat;
    height: 100%;
    width: 100%;
  }